

      <div class="panel panel-default">
            <div class="panel-body">
                  Todos los derechos reservados
            </div>
            <div class="panel-footer">
            © 2019
            </div>
      </div>
</div>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- Popper.js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>

</html>