{{>header}}
<br />
<div class="container">
    <h1>Ver Cursos Como Administrador</h1>
    {{{listar}}}
</div>
<div class="container">
    <h1>Ver Cursos Como Interesado</h1>
    {{{listar_interesado}}}
</div>
<br />
{{>footer}}